<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom General</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  </head>
  <body style="background-color: white;">
    <div class="container-fluid" style="margin-top: 25px;">
      <div class="row">
        <div class="col-md-12">
            <div class="card" style="height: 90vh;">
                <div class="card-header"><a href="/" style="color: inherit;"><i class="fa fa-arrow-left"></i></a> Chatroom <%= @room.name_room %></div>
                    <input type="text" id="id-room" value="<%= @room.id %>" hidden>
                    <div class="card-body">
                        <div class="row" style="height: 100%;">
                            <div id="message-container" class="col-md-10" style="background-color: rgb(252, 252, 252); overflow-y: scroll; max-height: 80vh;">
                                <div class="row" id="chat-chats">
                                    <div class="col-md-12" id="data-message">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="background-color: whitesmoke;overflow-y: scroll; max-height: 80vh;">
                                <div id="chat-user" class="row">
                                    <div class="col-md-12" style="margin-right: 5px; margin-top: 10px; height: 100%;">
                                        <% @users.each do |user| %>
                                            <div class="card-body" style="background-color: white; margin-top: 5px;">
                                                <div class="message-bubble">
                                                    <div class="message-header">
                                                        <i class="fas fa-user"></i><small> <%= user.email %> </small>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: whitesmoke;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <textarea class="form-control" id="message-input" rows="1" placeholder="Message" style="resize: none;" autofocus></textarea>
                                    <div class="input-group-append">
                                      <span class="input-group-text">
                                        <a href="#" style="color: inherit;" onclick="sendMessage()"><i class="fas fa-paper-plane"></i></a>
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
      </div>
    </div>
  </body>
  <script>

    var currentMessage = []
    var csrfToken = $('meta[name="csrf-token"]').attr('content');

    $(document).ready(function() {
        $('#message-input').on('keydown', function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            sendMessage();
        }
        });

        setInterval(getMessage, 1000);
    });
    
    function sendMessage(){
        
        var messageContainer = document.getElementById("message-container");
        messageContainer.scrollTo({
            top: messageContainer.scrollHeight,
            behavior: 'smooth'
        });
        postMessage()
        $("#message-input").val("")
    }

    function postMessage(){
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        var thismessage = $("#message-input").val();
        var data = {
            message: thismessage,
            key_room: $("#id-room").val()
            
        }
        console.log(data)
        $.ajax({
            url: '/message/send',
            method: 'POST',
            async: false,
            data: JSON.stringify(data),
            contentType: 'application/json',
            beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', csrfToken);
            },
            success: function(response) {
            console.log(response);
            },
            error: function(xhr, status, error) {
            console.log(error);
            }
        });
    }

    function getMessage(){
        if(window.location.pathname.includes("/chats/")){
            $.ajax({
                url: '/message/get',
                method: 'POST',
                async: false,
                data: JSON.stringify({key_room:$("#id-room").val()}),
                contentType: 'application/json',
                beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRF-Token', csrfToken);
                },
                success: function(response) {
                var thisMessage = response
                if(thisMessage.length > currentMessage.length ){
                    for(x=currentMessage.length;x<thisMessage.length;x++){
                        currentMessage.push(thisMessage[x])
                        $("#data-message").html($("#data-message").html()+'<div class="card-body" style="background-color: whitesmoke; margin-top: 5px;border-radius:20px"><div class="message-bubble incoming" style="margin-left: 5px;"><div class="message-header"><small>'+thisMessage[x].email+'</small></div><div class="message-text"><p>'+thisMessage[x].message+'</p></div><div class="message-footer" style="text-align: right; margin-top:-50px;"><p><small><small>'+thisMessage[x].created_at+'</small></small></p></div></div></div>')
                    }
                }

                },
                error: function(xhr, status, error) {
                console.log(error);
                }
            });
        }
    }
  </script>
</html>